<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-8">
      <h1>My tasks</h1>
      <% @tasks.each do |task| %>
        <% completed = task.completed ? "fa-circle-check" : "fa-circle-xmark" %>
        <p>
          <i class="fa-regular <%= completed %>"></i>
          <%= link_to task.title, task_path(task)%> ·
          <%= link_to task_path(task), data: { method: :delete, confirm: "Are you sure?" } do %>
            <i class="fa-solid fa-xmark"></i>
          <% end %>
        </p>
      <% end %>
      <hr>
      <i class="fas fa-plus"></i><%= link_to "Add a new task", tasks_new_path %>
    </div>
    <div class="col">
    </div>
  </div>
</div>
